@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    text-align: center;
    background-color: #27283f;
    font-family: 'Poppins', sans-serif;
}
h1, h3{
    color: #ffff;
}
.load{
   margin-top: 2em;
}
table{
    margin: 0 auto;
}
.load th{
    font-size: 1.8em;
    color: #9e5ca6;
}
.load td{
    font-size: 1.6em;
    color: #5b5fb3;
}